.vs

backend/ApiGateway/ApiGateway/obj/
backend/ApiGateway/ApiGateway/bin/

backend/ProdutoService/obj/
backend/ProdutoService/bin/

backend/EstoqueService/Estoqueservice/bin/
backend/EstoqueService/Estoqueservice/obj/

backend/MovimentacaoService/obj/
backend/MovimentacaoService/bin/

backend/ProdutoService/bin/
backend/ProdutoService/obj/

backend/UsuarioService/UsuarioService/bin/
backend/UsuarioService/UsuarioService/obj/

backend/MovimentacaoService/bin/
backend/MovimentacaoService/obj/

SistemaEstoque/ProductsService/bin/
SistemaEstoque/ProductsService/obj/
