<div class="app-container">
  <aside class="sidebar">
    <div class="logo-container">
      <i class="fas fa-warehouse"></i>
    </div>
    <nav class="menu">
      <a class="menu-item" routerLink="/estoque" routerLinkActive="active">
        <i class="fas fa-boxes"></i>
        <span>Estoque</span>
      </a>
      <a class="menu-item" routerLink="/movimentacao" routerLinkActive="active">
        <i class="fas fa-exchange-alt"></i>
        <span>Movimentação</span>
      </a>
      <a class="menu-item">
        <i class="fas fa-chart-line"></i>
        <span>Financeiro</span>
      </a>
      <a class="menu-item">
        <i class="fas fa-user-cog"></i>
        <span>Funcionários</span>
      </a>
    </nav>
    <a class="logout-item">
      <i class="fas fa-sign-out-alt"></i>
      <span>Sair</span>
    </a>
  </aside>

  <main class="main-view">
    <router-outlet></router-outlet>
  </main>
</div>